footer {
    margin: 10px;
    text-align: center;
    padding: 1%;
    background-color: #efefef;
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.margin-top {
    margin: 5%;
    
}

.width-90 {
    width: 90%;
}

#locations {
    font-size: 16px;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    padding-top: 1%;
    color: teal;
}

#locations:hover {
    color: #aaa;
}
